{# empty Twig template #}
{# src/Adbck/BidwebBundle/Resources/views/Page/index.html.twig #}
{% extends '::landing.html.twig' %}
{% block content_title %}
    {{'seo.tools'|trans}}
{% endblock %}
{% block path %}
         <li><a href="{{path('bidweb_seotool')}}">{{'seo.tools'|trans}}</a></li>
     <li><a href="#">{{'my.seo'|trans}}</a></li>
{% endblock %}

{% block body %}

    <div class="content animate-panel">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{'last.posted'|trans}}</h3>
            </div>

            <!-- Foo Table - Pagination -->
            <!--===================================================-->
            <div class="panel-body">
                <label class="form-inline">{{'show'|trans}}
                    <select id="demo-show-entries" class="form-control input-sm">
                        <option value="5">5</option>
                        <option value="10" selected="true">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    {{'entries'|trans}}
                </label>
                <table id="foo-pagination" class="table toggle-arrow-tiny" data-page-size="10">
                    <thead>
                        <tr>
                            <th data-toggle="true">{{'title'|trans}}</th>
                            <th>{{'taxonomy'|trans}}</th>
                            <th data-hide="all">{{'demo'|trans}}</th>
                            <th data-hide="all">{{'price'|trans}}</th>
                            <th data-hide="all">{{'created'|trans}}</th>
                            <th data-hide="all">{{'detail'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ad in seotools %}
                            <tr>
                                <td><a href="{{ path('bidweb_seotool_show', { 'id': ad.id, 'slug':ad.slug }) }}">{{ad.title}}</a></td>
                                <td>{{ad.taxonomy}}</td>
                                <td>{{ad.demo}}</td>
                                <td>
                                    {{ad.price}}
                                </td>
                                <td>{{ ad.created|date('l, F j, Y') }}</td>
                                <td>
                                    {{ ad.detail(50) | raw |striptags}}...
                                    <span class="label label-table label-success"><a href="{{ path('bidweb_seotool_show', { 'id': ad.id , 'slug':ad.slug}) }}"> {{'detail'|trans}} </a></span></td>
                            </tr>
                        {% endfor %}


                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="text-right">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--===================================================-->
            <!-- End Foo Table - Pagination -->

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent() }}
    <script src="bundles/bidweb/nifty/plugins/fooTable/dist/footable.all.min.js"></script>

    <script>
        $(window).on('load', function () {


            // FOO TABLES
            // =================================================================
            // Require FooTable
            // -----------------------------------------------------------------
            // http://fooplugins.com/footable-demos/
            // =================================================================


            // Row Toggler
            // -----------------------------------------------------------------
            // Pagination
            // -----------------------------------------------------------------
            $('#foo-pagination').footable();
            $('#demo-show-entries').change(function (e) {
                e.preventDefault();
                var pageSize = $(this).val();
                $('#foo-pagination').data('page-size', pageSize);
                $('#foo-pagination').trigger('footable_initialized');
            });



        });

    </script>
{% endblock %}

