{% trans_default_domain 'FOSUserBundle' %}




<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" id="loginForm">
    <div class="row">
        {{ form_errors(form) }}
        <div class="form-group col-lg-6">
            {{ form_row(form.current_password,{ 'label' : 'form.password_confirmation'|trans,'attr': {'class': 'form-control'} }) }}

        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.plainPassword.first,{ 'label' : 'form.password'|trans,'attr': {'class': 'form-control'} }) }}

        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.plainPassword.second,{ 'label' : 'form.password_confirmation'|trans,'attr': {'class': 'form-control'} }) }}

        </div>    
           
        {{ form_rest(form) }}
    </div> 
    
    <div class="text-right">
        <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
        </div>
</form>