{% extends '::landing.html.twig' %}

{% block content_title %}
    {{'cashout'|trans}}
{% endblock %}

{% block path %}

    <li><a href="#">{{'cashout'|trans}}</a></li>

{% endblock %}
{% block body %}
    <div class="col-lg-8">
        <header>
            <h1>{{'payment'|trans}}- You can cashout max : {{total}}</h1>
        </header>
        <form method="POST" class="form-signin"> {{ form_widget(form) }} <input type="submit" value="{{'cashout'|trans}}" /> </form> 
    </div>
{% endblock %}