{% extends '::landing.html.twig' %}

{% block title %}{{ website.title }}{% endblock %}
{% block content_title %}
    {{'confirm'|trans}}
{% endblock %}
{% block path %}
        <li><a href="{{path('bidweb_websites')}}">{{'websites'|trans}}</a></li>
    <li><a href="#">{{'confirm'|trans}}</a></li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'msg.edit.confirm'|trans}}</h3>
                </div>
                <div class="panel-body">
                    <div class="date"><time datetime="{{ website.created|date('c') }}">{{ website.created|date('l, F j, Y') }}</time></div>
                    <h2>{{ website.title }}</h2>
                    <div>
                        <p>{{ website.detail | raw}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}