{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="loginForm">
    <div class="row">
        {{ form_errors(form) }}
        <div class="form-group col-lg-6">
            {{ form_row(form.username,{ 'label' : 'form.username'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.plainPassword.first,{ 'label' : 'form.password'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.plainPassword.second,{ 'label' : 'form.password_confirmation'|trans,'attr': {'class': 'form-control'} }) }}
           
        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.email,{ 'label' : 'form.email'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.firstname,{ 'label' : 'first.name'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.lastname,{ 'label' : 'last.name'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
        <div class="form-group col-lg-6">
            {{ form_row(form.phone,{ 'label' : 'phone'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
            
        <div class="form-group col-lg-6">
            {{ form_row(form.address,{ 'label' : 'address'|trans,'attr': {'class': 'form-control'} }) }}
            
        </div>
            
        <div class="form-group col-lg-6">
            {{ form_row(form.file,{ 'label' : 'image'|trans,'attr': { 'data-show-upload':'false',
                     'data-show-caption':'true','class': 'file'} }) }}
            
        </div>
         {{ form_rest(form) }}
    </div>
        <div class="text-center">
            <button class="btn btn-success">{{'layout.register'|trans}}</button>
            
        </div>
</form>{# empty Twig template #}
