{# empty Twig template #}
{% form_theme form 'BidwebBundle:Form:fields.html.twig' %}
{% extends '::landing.html.twig' %}

{% block title %}{{'edit'|trans}} {{ job.title}} - Bidweb{% endblock%}
{% block content_title %}
    {{'dit'|trans}}
{% endblock %}
{% block path %}
    <li><a href="{{path('bidweb_jobs')}}">{{'jobs'|trans}}</a></li>
    <li><a href="#">{{'edit'|trans}}</a></li>
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-heading">
                    <h3>{{'edit'|trans}} {{ job.title}}</h3>
                </div>
                <form action="{{ path('bidweb_job_edit',{'id':job.id} ) }}" method="post" {{ form_enctype(form) }}>
                     {{ form_errors(form) }}
                    <div class="panel-body form-horizontal form-padding">
                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'title'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.title, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'company.name'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.companyName, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'skill'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.skills, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'address'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.address, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'duration'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.duration, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label">{{'logo'|trans}}</label>
                            <div class="col-md-9">
                                <span class="pull-left btn btn-default btn-file">
                                    {{'browse'|trans}}... {{ form_row(form.file, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'work.type'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.workingType, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'sub.cat'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.subcategory, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'state'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.state, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'city'|trans}}</label>
                            <div class="col-md-3">
                                {{ form_row(form.city, { 'label' : false,'attr': {'class': 'col-sm-7 form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" >{{'detail'|trans}}</label>
                            <div class="col-md-6">
                                {{ form_row(form.description, { 'label' : false,'attr': {'rows':9,'class': 'col-sm-9 form-control'} }) }}
                            </div>
                        </div>

                    </div>


                    <div class="panel-footer text-right">

                        <input type="submit" value="{{'save'|trans}}" class="btn btn-info"/>
                    </div>
                     {{ form_rest(form) }}
                </form>



            </div>
        </div>
    </div>
                
    
{% endblock %}
{% block javascripts %}
    {{parent()}}
<script>
var $state = $('#job_state');

$state.change(function() {
  
  var $form = $(this).closest('form');
  
  var data = {};
  data[$state.attr('name')] = $state.val();
  // Submit data via AJAX to the form's action path.
  
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
       
      // Replace current position field ...
      $('#job_city').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#job_city')
      );
      // Position field now displays the appropriate positions.
    }
  });
});

$(document).ajaxStart(function(){
        $("#wait").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#wait").css("display", "none");
    });

</script>   
<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="{{asset('bundles/bidweb/images/wait.gif')}}" width="64" height="64" />
    <br>{{'load.wait'|trans}}
</div>
{% endblock%}