
{% extends '::landing.html.twig' %}
{% block title %}{{'profile'|trans}}{% endblock%}
{% block content_title %}
    {{'detail'|trans}}
{% endblock %}
{% block path %}
    <li><a href="#">Profiles</a></li>
    
{% endblock %}
{% block body %}
    
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile details </h3>
                </div>
                <div class="panel-body">

                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <i class="fa fa-facebook btn btn-default btn-xs"></i>
                            <i class="fa fa-twitter btn btn-default btn-xs"></i>
                            <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                        </div>
                    </div>
                    {% if prof.user.image != 'empty' %}
                        <img class="img-circle m-b m-t-md" src="{{asset(prof.user.getWebPathImage()) }}" alt="{{ prof.title }} image not found" alt="Bidweb" width="76" height="76" />
                    {% else %}
                        <img src="{{asset("img/av1.png")}}" alt="Bidweb" width="76" height="76">
                    {% endif %}
                    
                   
                    <h3><a href="#">{{ prof.title }}</a></h3>
                    <div class="text-muted font-bold m-b-xs">Posted : {{prof.created | created_ago}}</div>
                    
                   
                </div>
                
                <div class="panel-footer">
                    {% if is_granted('ROLE_USER')%}
                        {% if app.user.id != prof.user.id %}
                            <a class="btn btn-success" href="{{path('user_send_msg',{'receiver':prof.user.id})}}" class="text-success">{{'contact.poster'|trans}}</a> 
                            
                        {% else %}
                            <a class="btn btn-success" href="{{path('editprofile',{'id':prof.id})}}" class="text-success">{{'edit'|trans}}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'detail'|trans}} </h3>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>{{'diploma1'|trans}}</dt>
                                <dd>{{prof.diploma}}</dd>
                                
                                {% if prof.diploma2 %}
                                    <dt>{{'diploma2'|trans}}</dt>
                                    <dd>{{prof.diploma2}}</dd>
                                {% endif %}
                                
                               {% if prof.diploma3 %}
                                    <dt>{{'diploma3'|trans}}</dt>
                                    <dd>{{prof.diploma3}}</dd>
                                {% endif %}
                                
                                {% if prof.certification %}
                                    <dt>{{'certif1'|trans}}</dt>
                                    <dd>{{prof.certification}}</dd>
                                {% endif %}
                                
                                {% if prof.certification2 %}
                                    <dt>{{'certif2'|trans}}</dt>
                                    <dd>{{prof.certification2}}</dd>
                                {% endif %}
                                
                                {% if prof.certification3 %}
                                    <dt>{{'certif3'|trans}}</dt>
                                    <dd>{{prof.certification3}}</dd>
                                {% endif %}
                        
                    </dl>

                    <h3><a href="#">{{'detail'|trans}}</a></h3>
                    <p>{{prof.description}}</p>
                    
                </div>
            </div>
        </div>
    </div>
                
      
        
{% endblock %}