{# empty Twig template #}
{# src/Adbck/BidwebBundle/Resources/views/Page/index.html.twig #}
{% extends '::landing.html.twig' %}

{% block content_title %}
    My applications Job
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="/bundles/bidweb/nifty/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/bundles/bidweb/nifty/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
{% endblock %}


{% block path %}
    <li><a href="{{path('bidweb_jobs')}}">{{'jobs'|trans}}</a></li>
    <li><a href="#">{{'my.app'|trans}}</a></li>
    {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'application'|trans}}</h3>
                </div>
                <div class="panel-body">
                    
                    <table id="dt-selection" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>  
                                <th>
                                    

                                </th>
                                <th>{{'project'|trans}}</th>
                                <th>{{'date'|trans}}</th>
                                <th class="min-tablet">{{'company.name'|trans}}</th>
                                <th class="min-tablet">{{'status'|trans}}.</th>
                                <th class="min-tablet">{{'message'|trans}}.</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in jobs %}
                                <tr>
                                    <td>
                                        {% if ad.project.client.image %}
                                        <img src="{{ asset(ad.project.client.getWebPathImage())}}" name="image" 
                                             id="image" class="img-circle m-b m-t-md" alt="Bidweb" 
                                             title="{{ ad.project.title }}" width="32" height="32">
                                    {% else %}
                                        <img src="{{ asset(['adImages/', 'thumb_default.png']|join)}}" 
                                             name="image" id="image" class="img-circle m-b m-t-md" 
                                             alt="Bidweb" title="Urun Adı"  width="76" height="76">
                                    {% endif %}
                                        
                                    </td>
                                    <td><a href="{{ path('bidweb_project_show', { 'id': ad.project.id, 'slug':ad.project.slug }) }}" original-title="{{ ad.project.title }}">
                                            
                                            {{ ad.project.title }}
                                        
                                        </a>
                                        
                                    </td>
                                    <td>{{ad.created | date('Y-M-D')}}</td>
                                    <td><a href="#">{{ad.project.client.companyName}}</a></td>
                                    <td>{% if ad.status==0 %}
                                            {{'waiting'|trans}}
                                        {%elseif ad.status == 1%}
                                            {{'accepted'|trans}}
                                        {% else %}
                                            {{'declined'|trans}}
                                        {% endif %}
                                    </td>
                                    <td><a href="">{{ ad.message(50) | raw |striptags}}</a></td>
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    
    {% block javascripts %}
    {{parent()}}
    <link href="/bundles/bidweb/nifty/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/bundles/bidweb/nifty/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <script src="/bundles/bidweb/nifty/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="/bundles/bidweb/nifty/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="/bundles/bidweb/nifty/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script>
        $.fn.DataTable.ext.pager.numbers_length = 5;


	
        // Row selection (single row)
	// -----------------------------------------------------------------
	var rowSelection = $('#dt-selection').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		}
	});

	$('#dt-selection').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			rowSelection.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	} );


    </script>
{% endblock %}